.DS_Store
.pytest_cache/
.venv/
__pycache__/
*.egg-info/
.DS_Store
.env
.env.*
!.env.example
.pytest_cache/
.venv/
__pycache__/
*.py[cod]
*.csv
*.parquet
*.json
*.zip
*.xlsx
*.geoparquet
*.html
*.nc
Data/Climate_Zones/*
*.parquet